<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173225546238-l88k9kr4rr8778sq513pjpqdp02s0dov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173225546238-l88k9kr4rr8778sq513pjpqdp02s0dov</string>
	<key>API_KEY</key>
	<string>AIzaSyCtTVjAEjD_O6zu3US3xK3yLG_CHEag4eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>173225546238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.play-tag-with-negotiations</string>
	<key>PROJECT_ID</key>
	<string>play-tag-with-negotiations</string>
	<key>STORAGE_BUCKET</key>
	<string>play-tag-with-negotiations.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173225546238:ios:b171be2bb556f743edf0af</string>
</dict>
</plist>